<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="card" style="width: 40rem; height: 33rem">
    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>
              <input
                type="text"
                aria-label="11"
                class="form-control form-control-color"
                [(ngModel)]="board[0][0]"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="12"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="13"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="14"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="15"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="16"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="17"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="18"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="19"
                class="form-control form-control-color"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                aria-label="21"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="22"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="23"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="24"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="25"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="26"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="27"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="28"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="29"
                class="form-control form-control-color"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                aria-label="31"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="32"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="33"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="34"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="35"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="36"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="37"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="38"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="39"
                class="form-control form-control-color"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                aria-label="41"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="42"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="43"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="44"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="45"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="46"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="47"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="48"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="49"
                class="form-control form-control-color"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                aria-label="51"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="52"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="53"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="54"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="55"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="56"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="57"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="58"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="59"
                class="form-control form-control-color"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                aria-label="61"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="62"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="63"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="64"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="65"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="66"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="67"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="68"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="69"
                class="form-control form-control-color"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                aria-label="71"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="72"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="73"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="74"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="75"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="76"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="77"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="78"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="79"
                class="form-control form-control-color"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                aria-label="81"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="82"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="83"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="84"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="85"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="86"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="87"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="88"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="89"
                class="form-control form-control-color"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                aria-label="91"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="92"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="93"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="94"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="95"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="96"
                class="form-control form-control-color"
              />
            </td>

            <td>
              <input
                type="text"
                aria-label="97"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="98"
                class="form-control form-control-color"
              />
            </td>
            <td>
              <input
                type="text"
                aria-label="99"
                class="form-control form-control-color"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
